.venezuela-intro {
    margin-top: 100px;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.venezuela-intro.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.header-container .venezuela-intro {
    padding-top: 300px;
    margin: 0 100px 0 100px;
    z-index: 2;
    position: relative;
}

.trigger-element {
    width: 100%;
    border: 1px solid black;
    height: 10px;
}

.header-container .venezuela-cover {
    -webkit-transition: -webkit-transform 4s ease-out;
    transition: transform 4s ease-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.header-container.is-loaded .venezuela-cover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.header-container .venezuela-cover {
    background-image: url(https://files.cfr.org/interactive/sites/default/files/2019-07/RTX4GAFY_Venezuela_0.jpg) !important;
    background-size: cover;
}

.venezuela-cover {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 99%;
    height: 95%;
    z-index: 1;
    opacity: 0.1;
}